
@{
    ViewBag.Title = "_LayoutCrumb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li>@Html.ActionLink("Домой", "Index", "Home")</li>
            @if (@ViewContext.RouteData.Values["action"].ToString() == "Solution")
            {
                <li>Портфолио</li>
            }
            else 
            { 
                <li> @Model.GetPageName( @ViewContext.RouteData.Values["action"].ToString() )   </li>
            }

             @if (@ViewContext.RouteData.Values["action"].ToString() == "Solution")
             {
                <li> @Model.GetPageName(@ViewContext.RouteData.Values["action"].ToString())   </li>
             }

        </div>
    </div>
</div>

@RenderBody()


