@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Damibek.Models.Index
@using Damibek.Models;



<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(../images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2 class="animation animated-item-1">Вас приветствует <span>eqiston</span></h2>
                                <p class="animation animated-item-2">Мы создаем крупные веб проекты и мобильные приложение, для развитие и оптимизации вашего безнеса</p>
                                <a class="btn-slide animation animated-item-3" href="@Url.Action("Services")">Читать больше</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="~/images/slider/img3.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->
<div class="feature">
    <div class="container">
        <div class="text-center">
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="~/images/all/web_96.png" />
                    <h2>Веб разработка</h2>
                    <p>Крупные веб решение, порталы орентированные на учет и автоматизацию бизнес процессов.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <img src="~/images/all/mobile_app_96.png" />
                    <h2>Мобильная разработка</h2>
                    <p>Мобильные приложение для iOS и Android любой сложности, от не больших пользовательских до крупных корпаративных приложений</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                    <img src="~/images/all/cloud_96.png" />
                    <h2>Облачные технологии</h2>
                    <p>Автоматизация бизнес процессов используя центр обработки данных, разработка веб сервисов для различных типов запросов: из мобильных приложений, сайтов и т.д.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <img src="~/images/all/Consulting_100.png" />
                    <h2>ИТ консалтинг</h2>
                    <p>Мы можем проконсультировать и предложить теоретическое решение по оптимизации вашего бизнеса.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
        <div class="container">
            <h3>Как мы это делаем</h3>
            <hr>
            <div class="col-md-12">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <img src="~/images/resivision_50.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Бизнес анализ</h4>
                                <p>Наши сотрудники приезжают к вам и мы обсуждаем общую концепцию вашего проекта или возможно предлогаем уже готовые наши решение.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <img src="~/images/role_48.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Написание ТЗ и общей модели проекта</h4>
                                <p>Описываем техническое описание проекта возможно делаем призентации для наглядной картины после согласование с заказчиком переходим к следующему шагу.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <img src="~/images/job_48.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Разработка</h4>
                                <p>Наши менеджеры разбивают проект на под задачи разработчики приступают к реализации проекта.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <img src="~/images/test_50.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Тестирование</h4>
                                <p>Перед внедрением проект проходит тчательное тестирование на соответствие с ТЗ, тестирование производится как менеджерами и так и на программном уровне имитирую очень большие нагрузки для определения отказоустойчивости проекта.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <img src="~/images/key_48.png"/>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Внедрение</h4>
                                <p>Внедряем проект/решение в опытную эксплуатацию.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <img src="~/images/support_50.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Сопровождение</h4>
                                <p>Консультируем при возникающих вопросах наших клиентов и если в компании происходит изменение в бизнес процессе (а это неизбежно в условиях конкуренции и привлечение клиентов) производим доработки проекта.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <img src="~/images/partnership_50.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Долгосрочное сотрудничество</h4>
                                <p>Компании начинают обращаться к нам по другим смежным проектам.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<div class="lates">
    <div class="container">
        <div class="text-center">
            <h2>Портфолио</h2>
        </div>
        <div class="col-md-12">
            <div class="media">
                <ul>
                    @foreach (Project row in Model.Projects)
                    {
                        <li>
                            <div class="media-left">
                                <img src="~/images/portfolio/allow-30.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"> @Html.ActionLink(@row.Name, "Solution", "Home", new { @id=@row.Id }, null)</h4>
                                <p>
                                    @row.Description
                                </p>
                            </div>
                        </li>
                    }  
                </ul>            
            </div>
        </div>
   
        <div class="text-center">
            @Html.ActionLink("Посмотреть все проекты", "Portfolio", "Home", null, new { @class = "a_onpage", solution_id = 1 })
        </div>
    </div>
</div>
<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Наши партнеры и технологии</h2>
            <p>Мы изпользуем их системное ПО для разработки прикладных решений</p>
        </div>
        <div class="partners">
            <ul>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="~/images/partners/partner1.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="~/images/partners/partner2.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="~/images/partners/partner3.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="~/images/partners/partner4.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="~/images/partners/partner5.png"></a></li>
            </ul>
        </div>
    </div><!--/.container-->
</section><!--/#partner-->
<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="pull-left">
                        <img src="~/images/Index/message.png" />
                    </div>
                    <div class="media-body">
                        <h1>Хотите про консультироваться?</h1>
                        <h3>Напишите нам, наши специалисты свяжутся с вами!</h3>                       
                            <a href="@Url.Action("_Message")"
                               target="_blank"
                               data-placement="top"
                               class="modal-link"
                               title="Открытие формы подтверждение удаление">    
                                <img src="@Url.Content("~/images/Index/message_send.png")"/>
                            </a>                                                  
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div><!--/.container-->
</section><!--/#conatcat-info-->
